{% extends "blog/base.html" %}
{% block content %}
	<div class="jumbotron">
		  <h5 class="display-4">Contact Us</h5>
		  <p class="lead">You can reach us via this platform.</p>
		  <hr class="my-2">
		  <p>If you have any questions about the contents on <a href="#">5StackBlog.com</a> (posts, topics and subjects discussion), you want to leave a feedback or become a sponsor of our site – don’t hesitate to contact us.</p>
		  <a class="btn btn-primary btn-lg" href="#" role="button">More Info</a>
	</div>
	<form class="border p-5">
	  <div class="form-group">
	    <label for="exampleInputName1" class="text-muted">Your Name (required)</label>
	    <input type="text" class="form-control" id="exampleInputName1" aria-describedby="emailHelp">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputEmail1" class="text-muted">Your Email (required)</label>
	    <input type="Email" class="form-control" id="exampleInputEmail1">
	  </div>
	  <div class="form-group">
	    <label for="validationTextarea" class="text-muted">Your Message</label>
    	<textarea class="form-control" rows="16" required></textarea>
	  </div>
	  <button type="submit" class="btn btn-outline-primary">Submit</button>
	</form>
{% endblock content %}




